---
layout: page
title: Contatti
heading: "Ciao, sono Cristian!"
description: Come contattare Cristian Castellari
permalink: /it/contatti/
redirect_from: /contatti/
lang: it_IT
translation_key: page-contact
---
<p class="hero__lead">{{ site.data.i18n.contact_lead.it }}</p>

<div class="grid grid--3" style="margin-top: var(--space-5);">
  {% if site.author.email %}
  <a class="card" href="mailto:{{ site.author.email }}">
    <h3 class="card__title"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp; Email</h3>
    <p class="card__desc">{{ site.author.email }}</p>
  </a>
  {% endif %}
  {% if site.author.linkedin_id %}
  <a class="card" href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="_blank" rel="noopener">
    <h3 class="card__title"><i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp; LinkedIn</h3>
    <p class="card__desc">/in/{{ site.author.linkedin_id }}</p>
  </a>
  {% endif %}
  {% if site.author.github_username %}
  <a class="card" href="https://github.com/{{ site.author.github_username }}" target="_blank" rel="noopener">
    <h3 class="card__title"><i class="fa fa-github" aria-hidden="true"></i>&nbsp; GitHub</h3>
    <p class="card__desc">@{{ site.author.github_username }}</p>
  </a>
  {% endif %}
  {% if site.author.twitter %}
  <a class="card" href="https://x.com/{{ site.author.twitter }}" target="_blank" rel="noopener">
    <h3 class="card__title">{% include icons/x.html %}&nbsp; X</h3>
    <p class="card__desc">@{{ site.author.twitter }}</p>
  </a>
  {% endif %}
  {% if site.author.bluesky %}
  <a class="card" href="https://bsky.app/profile/{{ site.author.bluesky }}" target="_blank" rel="noopener">
    <h3 class="card__title">{% include icons/bluesky.html %}&nbsp; Bluesky</h3>
    <p class="card__desc">@{{ site.author.bluesky }}</p>
  </a>
  {% endif %}
  {% if site.author.facebook_username %}
  <a class="card" href="https://www.facebook.com/{{ site.author.facebook_username }}" target="_blank" rel="noopener">
    <h3 class="card__title"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp; Facebook</h3>
    <p class="card__desc">{{ site.author.facebook_username }}</p>
  </a>
  {% endif %}
</div>
