{% if site.disqus %}
{% assign short_lang = page.lang | slice: 0, 2 | default: site.default_lang %}
{% assign page_url = site.url | append: site.baseurl | append: page.url %}

<div id="disqus_thread"></div>
<script type="text/javascript">
  var cookieMatch = document.cookie.match(/(?:^|; )cookiebar=([^;]*)/);
  var cookieValue = cookieMatch ? decodeURIComponent(cookieMatch[1]) : null;

  if (cookieValue === 'CookieAllowed') {
    var disqus_config = function () {
      this.page.url = "{{ page_url }}";
      this.page.identifier = "{{ page_url }}";
    };
    (function () {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.disqus.name }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  }
</script>
<noscript>{{ site.data.i18n.comments_js_required[short_lang] }}</noscript>
{% endif %}
