{% if site.ga.id %}
<script>
  function loadAnalytics() {
    if (window.analyticsLoaded) return;
    window.analyticsLoaded = true;

    var s = document.createElement('script');
    s.async = true;
    s.src = 'https://www.googletagmanager.com/gtag/js?id={{ site.ga.id }}';
    document.head.appendChild(s);

    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.ga.id }}', { 'anonymize_ip': true });
  }
</script>
{% endif %}
