*[id]:before {
    display: block;
    content: " ";
    margin-top: -75px; 
    height: 75px;
    visibility: hidden;
}
.ibox {
    max-width: 960px;
    align-items: center;
    margin: 0 auto;
    justify-items: center;
}
.related-container {
    max-width: 800px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
h4.relh4 {
    margin-top: 2em !important;
    margin-bottom: .5em;
    text-align: left;
}
.rect {/*
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    display: inline-flex;*/
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    padding-top: 10px;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 800px;
}
.rect a, .rect a:hover {
    border: none;
}
.rel {
    width: 100%;
    /*max-width: 250px; 
    min-width: 33%;*/
    text-align: left;
    padding: 10px;
}
.rel img {
    max-width: 100%;
    opacity: 0.7;
    height: auto;
}
.rel img:hover {
    opacity: 1;
}